<div class="row">  
    <div class="col-md-12 text-center">
      <h3>Manage Fridge</h3>
      <form #fridgeForm="ngForm" class="col-md-12">
        <div class="form-row align-items-center">
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="fridgeID">Fridge ID</label>
              </div> 
              <input class="form-control" type="number" id="fridgeID" name="fridgeID" ngModel required disabled>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="temp">Current Temperature</label>
              </div>
              <input class="form-control" type="number" id="temp" name="temp" ngModel required disabled> 
            </div>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="col-md-6">
            <button class="btn btn-success" type="submit" [disabled]="!fridgeForm.valid">Add</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger" type="reset">Reset</button>
          </div>
        </div> -->
      </form>
    </div>
</div>
<div class="row chart">
  <div class="col-md-12 text-center">
    <app-temp-chart [fridgeID]="id"></app-temp-chart>
  </div>
</div>