.list-group {
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list-group::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.section {
    margin-top: 4%;
}

.search {
    margin-bottom: 4%;
}