<div class="row">  
    <div class="col-md-12 text-center">
      <h3>Manage Vial</h3>
      <form #vialForm="ngForm" class="col-md-12">
        <div class="form-row align-items-center">
          <div class="col-md-4">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="batchID">Batch ID</label>
              </div> 
              <input class="form-control" type="text" id="batchID" name="batchID" ngModel required disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="fridgeID">Fridge ID</label>
              </div>
              <input class="form-control" type="text" id="fridgeID" name="fridgeID" ngModel required disabled> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="vialID">Vial ID</label>
              </div>
              <input class="form-control" type="text" id="vialID" name="vialID" ngModel required disabled> 
            </div>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="used">Used</label>
              </div>
              <span *ngIf="used">
                <input class="form-control bad" type="text" value="Used" disabled>
              </span>
              <span *ngIf="!used">
                <input class="form-control good" type="text" value="Has Not Been Used" disabled>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-12 text-left">
                <label for="fault">Vial Valid</label>
              </div>
              <span *ngIf="fault">
                <input class="form-control bad" type="text" value="Invalid" disabled>
              </span>
              <span *ngIf="!fault">
                <input class="form-control good" type="text" value="Valid" disabled>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="col-md-6">
            <button class="btn btn-success" type="submit" [disabled]="!vialForm.valid">Add</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger" type="reset">Reset</button>
          </div>
        </div> -->
      </form>
    </div>
  </div>