<div class="row">
  <div class="col-md-12">
    <div class="row">
      <form (ngSubmit)="onSearch(searchBatch)" #searchBatch="ngForm" class="col-md-12">
        <div class="form-row">
          <div class="col-md-8">
            <input class="form-control" type="text" 
              placeholder="Enter Batch ID" name="batchID" 
              id="batchID" ngModel (change)="onSearch(searchBatch)">
          </div>
          <div class="col-md-4">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <ul class="list-group col-md-12">
        <app-batch-list-item
          *ngFor="let batch of currentBatches"
          [batch]=batch>
        </app-batch-list-item>
      </ul>
    </div>
  </div>
</div>


